/* src/assets/styles/EmailVerification.css */

.email-verification-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .verification-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }
  
  .verification-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #302D40;
    margin-bottom: 20px;
  }
  
  .verification-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .verification-container input {
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .verification-container button {
    width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .verification-container button:hover {
    background-color: #45a049;
  }
  