.item-form-page {
    padding: 20px;
    position: relative;
  }
  
  .item-form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .error-message-forms{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ff4f4f;
  }
  
  .save-button,
  .delete-button,
  .go-back-button {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .save-button {
    background-color: #69C79F;
    color: #111111;
  }
  
  .delete-button {
    background-color: #ff4f4f;
    color: #111111;
  }
  
  .go-back-button {
    background-color: #007bff;
    color: #111111;
  }
  
  /* Hide scrollbar in the inner modal */
  .modal-content {
    max-height: 90vh; /* Adjust as needed */
    overflow: hidden;
    padding-right: 15px; /* To avoid content shifting */
  }
  
  .modal-content::-webkit-scrollbar {
    display: none;
  }
  
  .modal-content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  