.my-profile {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.profile-page-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #302D40;
  margin-bottom: 20px;
}

.profile-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  flex: 1;
}

.profile-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.profile-email {
  font-size: 16px;
  color: #666;
}

.contact-info-profile {
  margin-top: 20px;
}

.contact-number {
  font-size: 16px;
  color: #666;
}

.profile-details {
  margin-bottom: 20px;
}

.detail-item {
  margin-bottom: 10px;
}

.detail-item label {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #302D40;
  margin-bottom: 20px;
}

.detail-item p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  color: #9F9F9F;
}

.change-password {
  margin-top: 20px;
}

.change-password h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.password-item {
  margin-bottom: 10px;
}

.password-item label {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
  color: #9F9F9F;
  margin-bottom: 5px;
}

.password-item input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 16px;
}

.change-password-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-password-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .profile-page-title {
    font-size: 20px;
  }

  .profile-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-picture {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .profile-name {
    font-size: 18px;
  }

  .profile-email,
  .contact-number,
  .detail-item p {
    font-size: 14px;
  }

  .detail-item label,
  .change-password h3 {
    font-size: 18px;
  }
}
