.widget-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 100%;
  max-width: 300px;
  height: 112px;
  margin: 10px; /* Adjusted margin for better spacing */
  box-sizing: border-box;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 15px;
    margin: 15px 0;
  }

  @media (max-width: 480px) {
    max-width: 100%;
    margin: 10px 0;
  }
}

.green-rectangle {
  width: 64px;
  height: 64px;
  background-color: #cbeed4;
  border-radius: 10px;
  margin-right: 20px;
  flex-shrink: 0;

  @media (max-width: 768px) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 768px) {
    align-items: center;
    text-align: center; /* Ensures centered text alignment on small screens */
  }
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px; /* Adjusted size */
  color: #343a40;
  margin-bottom: 5px;

  @media (max-width: 768px) {
    text-align: center;
  }
}

.value {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px; /* Adjusted size */
  color: #343a40;

  @media (max-width: 768px) {
    text-align: center;
  }
}
